{% extends 'layout.html' %}
{% load static %}
{% block 'style' %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<style>
    details>p{
        color: green;
    }
</style>
{% endblock %}
{% block 'title' %} faqs {% endblock %}
{% block 'content' %}
    <div class="main">
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" style="height: 40vh; width: 40vw;" src="{% static 'assets/img/FAQs.png' %}" alt="..." />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">ready to school</h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">Possibilities are endless</p>
            </div>
        </header>
        <div class="container content">
            <h1 class="mt-5 mb-3">Frequently Asked Questions (FAQ)</h1><br/>
            <hr>
            {% for i in data %}
                <details>
                    <summary>{{i.question}}</summary>
                    <br>
                    <p>{{i.answer}}</p>
                </details>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}